@page "/"

<h1>Family Management Aplication</h1>

<p/>Please login to be able to modify information or switch between the tabs on the left.
<br/>
<p/>If you don't have an account, that means that you might only be able to view data.


